/* SEÇÃO HABILIDADES */
.secao__habilidades {
    padding-top: 100px;
}

.secao__habilidades .habilidades__container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.secao__habilidades .habilidades__container figcaption {
    grid-area: habilidade;
    font-size: 18px;
    line-height: 27px;
    font-family: "Montserrat SemiBold";
    text-align: center;
}

.secao__habilidades .habilidades__container ul li {
    font-size: 15px;
    line-height: 24px;
}

.secao__habilidades .habilidades__container ul li + li {
    padding-top: 10px;
}

.secao__habilidades .habilidades__container li .icone {
    justify-self: center;
}

.secao__habilidades .habilidades__container > li {
    display: grid;
    grid-template-rows: 95px 85px auto;
}

.secao__habilidades .habilidades__container > li:nth-child(odd) {
    grid-template-columns: 160px 80px 210px;
    grid-template-areas: 
    "icone . ."
    "icone conexao descricao"
    "habilidade conexao descricao"
    ;
}

.secao__habilidades .habilidades__container > li:nth-child(even) {
    align-self: flex-end;
    grid-template-columns: 210px 80px 160px;
    grid-template-areas: 
    ". . icone"
    "descricao conexao icone"
    "descricao conexao habilidade"
    ; 
}

.secao__habilidades .habilidades__container li .icone {
    grid-area: icone;
}

.secao__habilidades .habilidades__container li .conexao {
    grid-area: conexao;
    margin-left: 20px;
}

.secao__habilidades .habilidades__container li ul {
    grid-area: descricao;
}

.secao__habilidades .habilidades__container > li:nth-child(even) ul li {
    text-align: right;
}

.secao__entreEmContato {
    max-width: 368px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}

.secao__entreEmContato p {
    font-size: 15px;
    line-height: 24px;
    font-family: "Montserrat Medium";
    position: relative;
}

.secao__entreEmContato p svg {
    bottom: -50px;
    position: absolute;
}

.secao__entreEmContato a {
    align-items: center;
    background-color: var(--corDeFundo-botoes);
    display: flex;
    height: 40px;
    justify-content: center;
    margin:  30px auto 0 auto;
    width: 40px;
}