@import url(style.css);

/* SEÇÃO INTRODUÇÃO */
.secao__apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-image: url(../imagens/imagem-de-fundo-da-secao-de-apresentacao-do-desktop.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.secao__apresentacao .apresentacao__nome {
    text-transform: uppercase;
    padding-top: 50px;
}

.secao__apresentacao .apresentacao__cargo {
    width: max-content;
    font-size: 18px;
    line-height: 27px;
    font-family: "Montserrat Medium";
    animation: animacaoGradiente 1s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 50px;
}

.secao__apresentacao .apresentacao__servicos span {
    display: block;
    width: 85px;
    height: 40px;
    font-size: 14px;
    font-family: "Montserrat Medium";
    text-align: center;
    line-height: 40px;
    background: var(--corDeFundo-botoes);
    transition: .6s;
}

.secao__sobre p {
    font-size: 16px;
    line-height: 24px;
}

.secao__sobre p .italico {
    font-family: "Montserrat Italic";
}

.redes__mobile {
    display: none;
}