/* SEÇÃO PROJETOS */
.secao__projetos {
    padding-top: 100px;
}

.secao__projetos .projetos__projeto {
    padding-top: 70px;
}

.secao__projetos .projetos__projeto li {
    width: max-content;
}

.secao__projetos .projetos__projeto .projeto__imagem  {
    width: max-content;
    position: relative;
}

.secao__projetos .projetos__projeto .projeto__imagem::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, var(--gradiente-imagensDosProjetos));
}

.secao__projetos .projetos__projeto figcaption {
    position: relative;
    font-size: 18px;
    line-height: 27px;
    font-family: "Montserrat Bold";
    text-align: center;
    padding-top: 40px;
    z-index: 99;
}

.secao__projetos .projetos__projeto a {
    width: 100px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-family: "Montserrat Medium";
    text-align: center;
    background-color: var(--corDeFundo-botoes);
    margin: 20px auto 0 auto;
}

.secao__projetos .projetos__projeto a svg {
    margin-bottom: -3px;
}

.secao__projetos .projetos__aviso {
    display: flex;
    align-items: center;
    max-width: 198px;
    font-size: 14px;
    line-height: 21px;
    font-family: "Montserrat Medium";
    color: #E62222;
    margin: 50px auto 0 auto;
}

.secao__projetos .projetos__aviso svg {
    margin-right: 10px;
}