/* FONTES */
@font-face {
    font-family: Montserrat;
    src: local(Montserrat-Regular), url(../fontes/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat Black";
    src: local(Montserrat-Black), url(../fontes/Montserrat-Black.ttf);
}

@font-face {
    font-family: "Montserrat Medium";
    src: local(Montserrat-Medium), url(../fontes/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Montserrat Italic";
    src: local(Montserrat-Italic), url(../fontes/Montserrat-Italic.ttf);
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: local(Montserrat-SemiBold), url(../fontes/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "Montserrat Bold";
    src: local(Montserrat-Bold), url(../fontes/Montserrat-Bold.ttf);
}

/* RESET BÁSICO */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #E5E6E8;    
}

body {
    font-family: Montserrat, 'Times New Roman', Times, serif;
    background-color: #0C0E17;
}

:root {
    --corDeFundo-botoes: #3D5AFE;
    --gradiente-esquerdaParaDireita: hsla(231, 98%, 62%, 1),
    hsla(231, 99%, 62%, 0);
    --gradiente-profissao: hsla(231, 99%, 62%, 1),
    hsla(288, 92%, 65%, 1);
    --gradiente-imagensDosProjetos: hsla(229, 31%, 7%, 1),
    hsla(240, 33%, 1%, 0);
}

h1 {
    font-size: 36px;
    line-height: 54px;
    font-family: "Montserrat Black";
}

a,
a span {
    display: block;
    width: max-content;
    border-radius: 4px;
    text-decoration: none;
}

/* GRID */
.container {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11 {
    margin-right: 30px;
}

.grid-1 {
    max-width: 50px;
}

.grid-2 {
    max-width: 130px;
}

.grid-3 {
    max-width: 210px;
}

.grid-4 {
    max-width: 290px;
}

.grid-5 {
    max-width: 370px;
}

.grid-6 {
    max-width: 450px;
}

.grid-7 {
    max-width: 528px;
}

.grid-8 {
    max-width: 610px;
}

.grid-9 {
    max-width: 690px;
}

.grid-10 {
    max-width: 770px;
}

.grid-11 {
    max-width: 850px;
}

/* ESTILOS GERAIS */
.js .anim {
    transform: translate3d(-30px, 0, 0);
    opacity: 0;
    transition: 1s;
}

.js .anim.ativo {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
}

.redes__sociais {
    display: flex;
    align-items: center;
    width: max-content;
}

.redes__sociais li + li {
    margin-left: 10px;
}

.redes__sociais a span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    background-image: linear-gradient(to right, var(--gradiente-esquerdaParaDireita));
    transition: .6s;
}

.redes__sociais a:hover span,
.secao__apresentacao .apresentacao__servicos:hover span,
.secao__projetos .projetos__projeto a:hover,
.secao__entreEmContato a:hover {
    animation: animacaoGradiente 2s infinite linear;
}

@keyframes animacaoGradiente {
    0% {
        background-image: linear-gradient(0deg, hsla(231, 99%, 62%, 1), 
        hsla(288, 92%, 65%, 1));
    }

    12% {
        background-image: linear-gradient(45deg, hsla(231, 99%, 62%, 1), 
        hsla(288, 92%, 65%, 1));
    }

    25% {
        background-image: linear-gradient(90deg, hsla(231, 99%, 62%, 1), 
        hsla(288, 92%, 65%, 1));
    }

    37% {
        background-image: linear-gradient(135deg, hsla(231, 99%, 62%, 1), 
        hsla(288, 92%, 65%, 1));
    }

    50% {
        background-image: linear-gradient(180deg, hsla(231, 99%, 62%, 1), 
        hsla(288, 92%, 65%, 1));
    }

    63% {
        background-image: linear-gradient(225deg, hsla(231, 99%, 62%, 1), 
        hsla(288, 92%, 65%, 1)); 
    }

    75% {
        background-image: linear-gradient(270deg, hsla(231, 99%, 62%, 1), 
        hsla(288, 92%, 65%, 1));
    }

    87% {
        background-image: linear-gradient(315deg, hsla(231, 99%, 62%, 1), 
        hsla(288, 92%, 65%, 1));
    }

    100% {
        background-image: linear-gradient(360deg, hsla(231, 99%, 62%, 1), 
        hsla(288, 92%, 65%, 1));
    }
}

/* SEÇÃO INTRODUÇÃO */
.secao__apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-image: url(../imagens/imagem-de-fundo-da-secao-de-apresentacao-do-desktop.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.secao__apresentacao .apresentacao__nome {
    text-transform: uppercase;
    padding-top: 50px;
}

.secao__apresentacao .apresentacao__cargo {
    width: max-content;
    font-size: 18px;
    line-height: 27px;
    font-family: "Montserrat Medium";
    animation: animacaoGradiente 1s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 50px;
}

.secao__apresentacao .apresentacao__servicos span {
    display: block;
    width: 85px;
    height: 40px;
    font-size: 14px;
    font-family: "Montserrat Medium";
    text-align: center;
    line-height: 40px;
    background: var(--corDeFundo-botoes);
    transition: .6s;
}

.secao__sobre p {
    font-size: 16px;
    line-height: 24px;
}

.secao__sobre p .italico {
    font-family: "Montserrat Italic";
}

.redes__mobile {
    display: none;
}

/* SEÇÃO HABILIDADES */
.secao__habilidades {
    padding-top: 100px;
}

.secao__habilidades .habilidades__container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.secao__habilidades .habilidades__container figcaption {
    grid-area: habilidade;
    font-size: 18px;
    line-height: 27px;
    font-family: "Montserrat SemiBold";
    text-align: center;
}

.secao__habilidades .habilidades__container ul li {
    font-size: 15px;
    line-height: 24px;
}

.secao__habilidades .habilidades__container ul li + li {
    padding-top: 10px;
}

.secao__habilidades .habilidades__container li .icone {
    justify-self: center;
}

.secao__habilidades .habilidades__container > li {
    display: grid;
    grid-template-rows: 95px 85px auto;
}

.secao__habilidades .habilidades__container > li:nth-child(odd) {
    grid-template-columns: 160px 80px 210px;
    grid-template-areas: 
    "icone . ."
    "icone conexao descricao"
    "habilidade conexao descricao"
    ;
}

.secao__habilidades .habilidades__container > li:nth-child(even) {
    align-self: flex-end;
    grid-template-columns: 210px 80px 160px;
    grid-template-areas: 
    ". . icone"
    "descricao conexao icone"
    "descricao conexao habilidade"
    ; 
}

.secao__habilidades .habilidades__container li .icone {
    grid-area: icone;
}

.secao__habilidades .habilidades__container li .conexao {
    grid-area: conexao;
    margin-left: 20px;
}

.secao__habilidades .habilidades__container li ul {
    grid-area: descricao;
}

.secao__habilidades .habilidades__container > li:nth-child(even) ul li {
    text-align: right;
}

.secao__entreEmContato {
    max-width: 368px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}

.secao__entreEmContato p {
    font-size: 15px;
    line-height: 24px;
    font-family: "Montserrat Medium";
    position: relative;
}

.secao__entreEmContato p svg {
    bottom: -50px;
    position: absolute;
}

.secao__entreEmContato a {
    align-items: center;
    background-color: var(--corDeFundo-botoes);
    display: flex;
    height: 40px;
    justify-content: center;
    margin:  30px auto 0 auto;
    width: 40px;
}

/* SEÇÃO PROJETOS */
.secao__projetos {
    padding-top: 100px;
}

.secao__projetos .projetos__projeto {
    padding-top: 70px;
}

.secao__projetos .projetos__projeto li {
    width: max-content;
}

.secao__projetos .projetos__projeto .projeto__imagem  {
    width: max-content;
    position: relative;
}

.secao__projetos .projetos__projeto .projeto__imagem::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, var(--gradiente-imagensDosProjetos));
}

.secao__projetos .projetos__projeto figcaption {
    position: relative;
    font-size: 18px;
    line-height: 27px;
    font-family: "Montserrat Bold";
    text-align: center;
    padding-top: 40px;
    z-index: 99;
}

.secao__projetos .projetos__projeto a {
    width: 100px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-family: "Montserrat Medium";
    text-align: center;
    background-color: var(--corDeFundo-botoes);
    margin: 20px auto 0 auto;
}

.secao__projetos .projetos__projeto a svg {
    margin-bottom: -3px;
}

.secao__projetos .projetos__aviso {
    display: flex;
    align-items: center;
    max-width: 198px;
    font-size: 14px;
    line-height: 21px;
    font-family: "Montserrat Medium";
    color: #E62222;
    margin: 50px auto 0 auto;
}

.secao__projetos .projetos__aviso svg {
    margin-right: 10px;
}

/* SEÇÃO RODAPÉ */
.secao__rodape {
    padding-top: 150px;
    padding-bottom: 100px;
}

.secao__rodape ul {
    margin: 0 auto;
}

/* RESPONSIVO */
@media (max-width: 767px) {
    /* GERAL */
    .redes__sociais {
        display: none;
    }

    .redes__mobile {
        position: fixed;
        bottom: 10px;
        right: 10px;
        overflow: hidden;
        z-index: 99;
    }

    .redes__mobile,
    .redes__mobile ul {
        border-radius: 24px;
    }

    .redes__mobile,
    .redes__mobile ul {
        display: flex;
        align-items: center;
    }

    .redes__mobile ul {
        background: var(--corDeFundo-botoes);
        height: 50px;
        padding-right: 60px;
        padding-left: 20px;
        transform: translate3d(290px, 0, 0);
        transition: .6s;
    }

    .redes__mobile ul.ativo {
        transform: translate3d(45px, 0, 0);
    }

    .redes__mobile ul li + li {
        margin-left: 20px;
    }

    .redes__mobile li a {
        padding: 10px;
    }

    .redes__mobile ul svg path {
        fill: #E5E6E8;
    }

    .redes__mobile button {
        width: 50px;
        height: 50px;
        position: relative;
        border-radius: 50%;
        border: none;
        background-color: transparent;
        outline: none;
        background-color: var(--corDeFundo-botoes);
        cursor: pointer;
        transition: .6s;
    }

    .redes__mobile button.ativo {
        transform: rotate(45deg);
        box-shadow: 0px 0px 10px #272f5e;
    }

    .redes__mobile button span {
        display: block;
        width: 25px;
        height: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        background-color: #E5E6E8;
        border-radius: 12px;
    }

    .redes__mobile button span:last-child {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);

    }


    /* HEADER */
    .secao__apresentacao {
        position: relative;
        height: 400px;
    }

    .secao__apresentacao .apresentacao__nome {
        padding-top: 0;
    }

    .secao__apresentacao .apresentacao__servicos {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .secao__apresentacao .apresentacao__cargo {
        font-size: 14px;
        line-height: 21px;
    }

    /* SOBRE */
    .secao__sobre p {
        font-size: 12px;
        line-height: 18px;
    }

    /* HABILIDADES */
    .secao__habilidades .habilidades__container > li {
        grid-template-rows: 45px 35px auto;
    }

    .secao__habilidades .habilidades__container figcaption {
        font-size: 14px;
        line-height: 21px;
    }

    .secao__habilidades .habilidades__container > li:nth-child(odd) {
        grid-template-columns: 70px 100px 199px;
    }

    .secao__habilidades .habilidades__container > li:nth-child(even) {
        grid-template-columns: 199px 67px 100px;
    }

    .secao__habilidades .habilidades__container ul li {
        font-size: 12px;
        line-height: 18px;
    }

    .secao__habilidades .habilidades__container ul li + li {
        padding-top: 5px;
    }

    .secao__entreEmContato {
        max-width: 255px;
    }

    .secao__entreEmContato p {
        font-size: 12px;
        line-height: 18px;
    }

    .secao__entreEmContato a {
        margin-top: 20px;
    }

    /* PROJETOS */
    .secao__projetos {
        padding-bottom: 50px;
    }

    .secao__projetos .projetos__projeto figcaption {
        font-size: 12px;
        line-height: 18px;   
    }

    .secao__projetos .projetos__projeto a,
    .secao__projetos .projetos__aviso {
        font-size: 12px;
    }

    /* FOOTER */
    .secao__rodape {
        display: none;
    }
}

@media (max-width: 500px) {
    /* GRID */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11 {
        margin-right: 0;
    }

    /* SEÇÃO HABILIDADES */
    .secao__habilidades .habilidades__container > li:nth-child(odd),
    .secao__habilidades .habilidades__container > li:nth-child(even) {
        grid-template-columns: 1fr;
    }

    /* SEÇÃO APRESENTAÇÃO */
    .secao__apresentacao {
        background-image: url('../imagens/imagem-de-fundo-mobile.png');
        background-position: center right;
    }

    .secao__habilidades .habilidades__container > li + li {
        padding-top: 50px;
    }
}